 .description {
      max-width: 700px;
      margin: 0 auto 30px;
      font-size: 0.95rem;
      text-align: center;
      color: #444;
    }

    .calculator {
      max-width: 400px;
      margin: 0 auto;
      background: var(--card-bg);
      padding: 20px;
      border-radius: var(--border-radius);
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    label {
      display: block;
      margin: 15px 0 5px;
    }
	
	input{
      width: 50%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
	select {
      width: 40%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #005577;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      margin-top: 20px;
      cursor: pointer;
    }

    button:hover {
      background-color: #007799;
    }
	
	#result {
      margin-top: 20px;
      font-weight: bold;
      text-align: center;
    }
	
	#outputUnit{
      width: 62%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }